footer {
    width: 100%;
    text-align: center;
    background-color: #00FF00;
    height: 60px;
    position: fixed;
    bottom: 0;
}

footer p {
    line-height: 60px;
    margin: 0;
    color: black;
}

